{% extends "base.html" %}
{% block content %}

<h2>Notifications</h2>

<form method="post" action="{% url 'notifications:read_all' %}">
    {% csrf_token %}
    <button type="submit">Mark all as read</button>
</form>

<hr>

{% for notification in notifications %}
    <div class="notification-item {% if not notification.is_read %}unread{% endif %}">

        <div>
            {% if notification.type == "like" %}
                ❤️ Someone liked your post
            {% elif notification.type == "comment" %}
                💬 New comment on your post
            {% elif notification.type == "follow" %}
                👤 You have a new follower
            {% elif notification.type == "message" %}
                ✉ You received a new message
            {% endif %}
        </div>

        {% if notification.data.from_user_username %}
            <div>
                From: {{ notification.data.from_user_username }}
            </div>
        {% endif %}

        <small>{{ notification.created_at }}</small>

        {% if not notification.is_read %}
        <form method="post" action="{% url 'notifications:read' notification.pk %}">
            {% csrf_token %}
            <button type="submit">Mark as read</button>
        </form>
        {% endif %}
    </div>
{% empty %}
    <p>No notifications</p>
{% endfor %}

{% endblock %}