{% extends "base.html" %}
{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h4 class="mb-3">Edit profile</h4>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary w-100">
                    Save changes
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}