{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4 shadow-sm">
            <h4 class="text-center mb-3">Create account</h4>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-success w-100 mt-2">
                    Sign up
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}